@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Reid Harrington</h1>
    <p class="lead">I'm using this site as a way to learn more HTML</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My GitHub</h2>
        
        <p><a class="btn btn-default" href="https://github.com/Chuckoda">My profile</a></p>
    </div>
</div>