
@{
    ViewBag.Title = "Skills";
}

<h2>Skills</h2>
<div>
    <dl>
        I know basic HTML (Hence the creation of this site)
    </dl>
    <dl>
        Moderate knowledge of C#
    </dl>
    <dl>
        Advanced knowledge of SQL
    </dl>
    <dl>
        Learning AWS
    </dl>
</div>

